fastapi
uvicorn[standard]

sqlalchemy
aiosqlite
alembic

pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

httpx

python-multipart

qrcode[pil]
Pillow

ic-py

python-dotenv

pytest
pytest-asyncio